USE [master]
GO
/****** Object:  Database [Londoneasy4uSTAGE]    Script Date: 25/11/2021 05:07:53 p. m. ******/
CREATE DATABASE [Londoneasy4uSTAGE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Londoneasy4uSTAGE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Londoneasy4uSTAGE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Londoneasy4uSTAGE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Londoneasy4uSTAGE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Londoneasy4uSTAGE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Londoneasy4uSTAGE]
GO
/****** Object:  Table [dbo].[cliente_stage]    Script Date: 25/11/2021 05:07:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente_stage](
	[id] [int] NULL,
	[nombre_completo] [nvarchar](511) NULL,
	[nacionalidad] [nvarchar](255) NULL,
	[origen_cliente] [nvarchar](18) NULL,
	[telefono] [nvarchar](255) NULL,
	[correo] [nvarchar](255) NULL,
	[fecha_nac] [date] NULL,
	[edad] [int] NULL,
	[ocupacion] [nvarchar](255) NULL,
	[deriv_sexo] [nvarchar](9) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cuarto_stage]    Script Date: 25/11/2021 05:07:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuarto_stage](
	[id] [int] NULL,
	[piso] [nvarchar](255) NULL,
	[nombre] [nvarchar](255) NULL,
	[direccion] [nvarchar](255) NULL,
	[precio] [numeric](10, 2) NULL,
	[tipo_cuarto_id] [int] NULL,
	[zona_id] [int] NULL,
	[categoria_cuarto] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fecha_stage]    Script Date: 25/11/2021 05:07:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fecha_stage](
	[id_cliente] [int] NULL,
	[id_cuarto] [int] NULL,
	[fec_inicio] [date] NULL,
	[fec_final] [date] NULL,
	[renovacion] [nvarchar](21) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_cuarto_stage]    Script Date: 25/11/2021 05:07:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_cuarto_stage](
	[id] [int] NULL,
	[nombre] [nvarchar](255) NULL,
	[devAmoblado] [nvarchar](22) NULL,
	[tipoBaño] [nvarchar](15) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zona_stage]    Script Date: 25/11/2021 05:07:53 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zona_stage](
	[id] [int] NULL,
	[nombre] [nvarchar](255) NULL
) ON [PRIMARY]
GO
USE [master]
GO
